*,
*::before,
*::after{
    box-sizing: border-box;
}

body main{
    color: rgb(145, 33, 64);
    font-family: system-ui,sans-serif;
    line-height: 1.6;
  
}
/*hero section*/
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 20px;
    background-color: antiquewhite;
    margin: 1rem;
}
.hero-images{
    align-items:center ;
}
.hero-images img{
    width:300px;
    max-width: 100%;
}
.hero-content{
    text-align: center;
}
.hero-text{
    text-align: left;
    color: rgb(145, 33, 64);
}

article{
    color: rgb(7, 7, 7);
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}
footer{
    color: rgb(7, 7, 7);
}
/*css för mobil*/
@media (max-width:768px){
    .hero{
      flex-direction: column;
      gap: 20px;
    }
}
/*för desktop*/
@media (min-width:769px){
    .hero{
    flex-direction: row;
    }
}

main{
    display:flex;
    flex-direction: column;
}


.hittaHit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hittaHit *{
    width: fit-content;

}

.hittaHit  p{
    margin: 0;
}