main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuMain {
    background-color: rgba(238, 182, 49, 0.25);
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 5px 12px 24px -3px rgba(0, 0, 0, 0.25);
}

.menuMain h3{
    margin: 0;
}

.menuMain ul {
    padding-left: 1rem;
    margin: 0;
}

.menuMain li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.05);
}

.menuMain li p {
    margin:0;
}

.menuSection{
    margin: 0.2rem;
    box-shadow: 5px 12px 24px -3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(254, 250, 225, 0.5);
    margin-bottom: 2rem;
}


/* PC screen */

@media (min-width: 768px){

    .menuMain {
        width: 70%;
        margin: 2rem;
    }



}