.border {
    border: 3px solid #eeb631;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin: 30px;
}

.border ul {
    padding-left: 20px;
    margin: 0;
}

main {
    padding: 50px;
}

.border h3 {
    margin: 0;
}

.border-wrapper {
    display: flex;
    gap: 30px;
    margin: 30px;
}

main h2, 
main h3 {
    text-decoration: #eeb631 underline;
    text-align: center;
    padding: 10px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 500;
}

main p {
    padding: 1rem;
    margin: 0;
}